.ItemContainer {
    height: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ItemsList {
    display: flex;
    margin: 40px 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

